@font-face {
    font-family: "Muli-bold";
    src: url('./../fonts/Muli-Bold.woff') format("woff");
    }

@font-face {
    font-family: "Muli-regular";
    src: url('./../fonts/Muli-Regular.woff') format('woff');
}

@font-face{
    font-family: "Muli-ExtraBold";
    src: url('./../fonts/Muli-ExtraBold.woff') format('woff')
}
@font-face{
    font-family: "Muli-Italic";
    src: url('./../fonts/Muli-Italic.woff') format('woff');
}
@font-face {
    font-family: "Muli-Semi-BoldItalic";
    src: url('./../fonts/Muli-Semi-BoldItalic.woff') format('woff');
}

body{
    
}

.header {
    background-image: url(/img/header/header.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 85px 98px 0 99px;
    height: 100vh;
    object-fit: cover;
    }

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__menu {
    
    
}

.header__menu-list {
    display: flex;
    column-gap: 30px;
        }

.header__menu-item {
    
}


.header__menu-link {
    text-decoration: none;
    color: #fff;
    font-family: "Muli-bold";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 40px;
}

.header__logo {
    content: "";
    position:absolute;
    left: 751px;
    top: -16px;
    

}

.logo {
    
}

.logo__img {}

.header__inner {
    display: flex;
    align-items:center;
    column-gap:137px;
}

.header__personal{
    position: relative;
}

.header__personal-list {
display: flex;
align-items: center;
column-gap:45px;
}

.header__personal-list::after {
    content: "";
    position: absolute;
    right: -100px;
    width: 50px;
    height: 2px;
    background-color: #fff;
    opacity: 0.4;

}

.header__personal-item {

}


.header__personal-link {
    text-decoration: none;
    display: flex;
    

}
.header__counter{
position: relative;
}

.header__personal-img {

}
.header__personal-counter{   
    content: "";
    display: flex;
    justify-content: center;
    align-items:center;
    position: absolute;
    top:-9px;
    left: 23px;
    background-color:#fff;
    color: #000;
    height: 16px;
    width: 16px;
    font-size: 10px;
    font-family: "Muli-regular";
    border-radius:50%;
}

.header__social {}

.social {}

.social__list {
    display: flex;
    column-gap:10px;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #fff;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    line-height: 0px;
    

}

.social__link {
    
}

.social__img {

}
.btn {
    font-family: "Muli-bold";
    font-size: 21px;
    line-height: 1.5em;
    border-radius: 35px;
    font-weight: 800;
    color: #ffffff;
    text-align: left;
    
    
}

.header__btn {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    
}


.header__btn-shop{
    background-color:#0aa566;
    width: 280px;
    height: 70px;
    padding-left: 39px;
    border: none;
    background-image:url(../img/Arrow.png);
    background-repeat:no-repeat;
    background-position: 211px center;
}


.smoothies {
    padding: 80px 0 128px 0;
}

.smoothies__title {
    text-align: center;
    color: #f7ae3b;
    margin-bottom: 25px;
    letter-spacing: -0.04em;
}

.title {
    font-family: "Muli-ExtraBold";
    font-size: 50px;
    line-height: 1.5em;
    
    
}

.smoothies__text {
    max-width: 920px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 49px;
    
    
}

.text {
    font-family: "Muli-regular";
    font-size: 18px;
    line-height: 35px;
    color: #1e1e1e;
    
}

.smoothies__wrap {
    max-width: 1060px;
    margin: 0 auto;
display: flex;
flex-wrap: wrap;
justify-content: center;

}

.smoothies__inner {
    width: 256px;
    height: 186px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

}

.smoothies__wrap>:nth-child(2){
    border-left: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}
.smoothies__wrap>:nth-child(3) {
    border-left: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}
.smoothies__wrap>:nth-child(4) {
    border-left: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}
.smoothies__wrap>:nth-child(5) {
    border-right: 2px solid #f6edde;
    border-top: 2px solid #f6edde;
}

.smoothies__wrap>:nth-child(6) {
    border-right: 2px solid #f6edde;
}

.smoothies__wrap>:nth-child(7) {
    border-right: 2px solid #f6edde;
}

.smoothies__inner-img {

}

.smoothies__inner-title {
    font-family: "Muli-ExtraBold";
    font-size: 25px;
    line-height: 1.5em;
    color: #f2612d;
    padding-top: 20px;

}

.about {
    padding-top: 42px;
    background-color: #16826e;
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 95px;
}

.about__img {
    /* padding: 60px 0 0 145px; */
    margin-right: 140px;
    position:absolute;
    left:143px;
    top: 61px;
    z-index: 1;
}

.about__inner {
    padding-top: 40px;
    margin-left: 675px;
    max-width: 650px;
}

.about__title {
    font-size: 55px;
    line-height: 1.2em;
    color: #ffffff;
    margin-bottom: 40px;
    letter-spacing: -0.04em;
    position: relative;
}
.about__title::after{
    content: " ";
    display: block;
    width: 450px;
    height: 13px;
    background-image:url(../img/Line.png);
    background-repeat:no-repeat;
    position: absolute;
    left: 72px;
    bottom: -6px;
}

.make-smoothies__subtitle-color {
    color: #cae941;
}

.about__list {
     margin-bottom: 39px;
     
}

.about__item {
    font-family: "Muli-regular";
    font-size: 21px;
    line-height: 2.1em;
    color: #ffffff;
    padding-left: 40px;
    background-image:url(../img/1.png);
    background-repeat:no-repeat;
    background-position: 4px 12px;

}

.about__item--bold {
    
    
}

.about__btn {
    background-color: transparent;
    width: 380px;
    height: 60px;
    border: 2px solid #f8b231;
    letter-spacing: -0.04em;
    padding-left: 31px;
background-image:url(../img/Arrow.png);
background-repeat:no-repeat;
background-position: 310px center;
    
}

.products {
    display: flex;
    overflow-x: auto;
    

}

.products__inner {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 720px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 25%;
    min-width: 400px;
    
}
.products__inner--chocolate {
    background-color: #632b16;
}
.products__inner--vegan {
    background-color: #1a846e;
}
.products__inner--lemon {
    background-color: #f7b03b;
}
.products__inner--turmeric {
    background-color: #c1451b;

}
.products__img {
    margin-top: 45px;
    margin-bottom: 27px;
    
}

.products__title {
    font-size: 22px;
    color: #ffffff;

}

.products__text {
    font-family: "Muli-Italic";
    display: block;
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
    padding-bottom: 55px;
    
}

.products__btn {
    width: 207px;
    height: 63px;
    border: 2px solid #ffffff;
    background-color: transparent;
    padding-left: 33px;
    background-image:url(../img/Arrow_wite.png);
    background-repeat:no-repeat;
    background-position: 135px center;
    
}


.story {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 123px 0 152px 0;
    
}

.story__inner {
    margin-right: 200px;
    max-width: 520px;
    
}

.story__title {
    color: #f7ae3b;
    margin-bottom: 50px;
    letter-spacing: -0.04em;
}

.story__text {
    /* font-size: 15px; */
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.story__btn {
    background-color: #0aa566;
    width: 300px;
    height: 60px;
    border: none;
    background-image: url(../img/Arrow.png);
    background-repeat: no-repeat;
    background-position: 230px center;
    padding-left: 30px;
    
}
.story__box{
    position: relative;
}
.story__box::before {
    content: "";
    display: block;
    width: 290px;
    height: 216px;
    background-image:url(../img/stamp.png);
    background-repeat:no-repeat;
    position: absolute;
    left:-170px;
    top:20px;
}

.story__img {
    object-fit: cover;
    
}
.review {
    background-color: #66301e;
    position: relative;
}    
.review::before{
    content: "";
    display: block;
    width: 764px;
    height: 148px;
    background-image:url(../img/Sarah_A.png);
    background-repeat:no-repeat;
    position: absolute;
    top:250px;
    left:440px;
}
.review::after {
    content: " ";
    display: block;
    width: 410px;
    height: 301px;
    background-image:url(../img/dots.png);
    background-repeat: no-repeat;
    position:absolute;
    right: 58px;
    top: -80px;
}

.review__title {
    padding-top: 100px;
    color: #f7ae3b;
    text-align: center;
    margin-bottom: 108px;
    letter-spacing: -0.03em;
}

.review__bold {
    color: #f2612d;
}

.review__inner {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 122px;
    column-gap: 60px;
}

.review__blockquote {
    font-family: "Muli-bold";
    color: #ffffff;
    max-width: 455px;
    margin-bottom: 18px;
    line-height: 2.2em;
    letter-spacing: 0.03em;
    padding-top: 55px;
 }

.review__color {
    font-family: "Muli-regular";
    color: #f7ae3b;
    letter-spacing: 0.05em;
 }

.review__img {
    object-fit: cover;
    z-index:1;
}

.review__arrows {
    background-color: #66301e;
    height: 96px;
    position:relative;
    
}

.review__arrow-left {
    width: 60px;
    height: 20px;
    background-image:url(../img/Arrow.png);
    background-repeat:no-repeat;
    background-color:transparent;
    border: none;
    transform:rotate(180deg);
    position: absolute;
    left: 850px;
    top: -3px;
}


.review_arrow-right {
    width: 60px;
    height: 20px;
    background-image:url(../img/Arrow.png);
    background-repeat:no-repeat;
    background-color:transparent;
    border: none;
    position:absolute;
    left:1010px;
}

.blog {
    padding: 80px 0 200px 0;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
}

.blog__title {
    padding:0 0 43px 0px;
    color: #f7ae3b;
    letter-spacing: -0.05em;
 
}

.blog__foto {
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

.blog__img {
    object-fit: cover;
    width: 555px;
    height: 400px;
    margin-right: 60px;
}

.blog__inner {
    
}

.blog__subtitle {
    padding-top: 118px;
    font-size: 30px;
    color: #f2612d;
    
}

.blog__time {
    font-family: "Muli-regular";
    font-size: 16px;
    line-height: 2em;
    font-weight: 400;
    color: #1e1e1e;
}

.blog__text {
    margin: 45px 0 0 60px;
    max-width: 470px;
}

.blog__link {
    text-decoration: none;
    font-family: "Muli-Semi-BoldItalic";
    color: #000;
}

.instagram {
    display: flex;
    flex-direction: column;
    align-items:center;
    
    
    
}

.instagram_link {
    display: flex;
    align-items:center;
    gap: 15px;
    text-decoration: none;
    color: #0aa566;
    font-size: 24px;
    
       
}

.instagram__images {
    display: flex;
    padding: 45px 0 6px 0;
   display: flex;
/*   не работают своиства на картинках 
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 20%; */
}

.instagram__image {
    
    
    
}

.footer {
    display: flex;
    justify-content: space-around;
    
    background-color: #f4ad3b;
    padding-top: 80px;
    padding-bottom: 85px;
}

.footer__logo {
    align-self: center;
}

.footer__info {}

.footer__title {
    font-size: 26px;
    color: #fff;
    margin-bottom: 40px;
}

.footer__list {
    line-height: 2.2em;
    color: #6d450c;
    
}

.footer_item {
    font-family: "Muli-bold";
}



.footer__pay {
    
}

.footer__images {
    max-width: 270px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items:center;
    
}

.footer__image {

    
}
 

.footer__form {
    
}

.footer__mail {
    
    
}
form > input:last-child {
    display: none;
    }


.footer_input {
    font-family: "Muli-bold";
    color: #6d450c;
    border-radius: 30px;
    width: 500px;
    height: 60px;
    font-size: 17px;
    border:none;
    padding-left: 25px;
    
}


.footor_btn {
    display: inline-block;
    margin: 40px 45px 0 180px;
    font-family: "Muli-ExtraBold";
    text-transform: uppercase;
    color: #6d450c;
    text-decoration: none;
}

.footer__social {
    display: inline-block;
    

}


.footer__social-list {
    display: flex;
    column-gap: 25px;
}

.footer__social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0px;
}


.footer__small {
    height: 60px;
    
    background-color: #6f2e1a;
    

}
.footer__small-text {
    display: block;
    text-align: center;
    margin: auto auto;
    font-family: "Muli-regular";
    font-size: 13px;
    color: #af8a82;
}
.footer_link {
    display: block;
    color: #fff;
    text-decoration: none;
    font-family: "Muli-regular";
    font-size: 16px;
    padding-right: 100px;
    

}
