@font-face {
    font-family: "Muli-bold";
    src: url('./../fonts/Muli-Bold.woff') format("woff");
    }

@font-face {
    font-family: "Muli-regular";
    src: url('./../fonts/Muli-Regular.woff') format('woff');
}

@font-face{
    font-family: "Muli-ExtraBold";
    src: url('./../fonts/Muli-ExtraBold.woff') format('woff')
}
@font-face{
    font-family: "Muli-Italic";
    src: url('./../fonts/Muli-Italic.woff') format('woff');
}
@font-face {
    font-family: "Muli-Semi-BoldItalic";
    src: url('./../fonts/Muli-Semi-BoldItalic.woff') format('woff');
}

body{
    max-width: 1920px;
}

.header {
    background-image: url(/img/header/header.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 100px 0 100px;
    height: 1080px;
    }

.heder__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    
    
}

.header__menu-list {
    display: flex;
        }

.header__menu-item {
    margin-right: 35px;
}
.header__menu-list > li:last-child{
    margin-right: 0px;
}

.header__menu-link {
    text-decoration: none;
    color: #fff;
    font-family: "Muli-bold";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

.header__logo {
    

}

.logo {
    height: 72px;
    width: 211px;  
}

.logo__img {}

.header__inner {

  display: flex;
  justify-content: space-between;
}

.header__personal {
    margin-right: 85px;
}

.header__personal-list {
display: flex;
}

.header__personal-item {
margin-right: 50px;

}
.header__personal-list > li:last-child{
    margin-right: 0px;
}

.header__personal-link {

}


.header__personal-img {

}

.header__social {}

.social {}

.social__list {
    display: flex;
}

.social__item {
    background-color: #fff;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;

}
.social__list > li:last-child{
    margin-right: 0px;
}
.social__link {
    
    
   }

.social__img {

}

.heder_button{
    margin-top: 104px;
   display: flex;
   justify-content: center;
}
.header__btn {
    
    background-color:#0aa566;
    width: 280px;
    height: 70px;
    font-size: 24px;
    
    
}

.btn {
    border-radius: 35px;
    font-weight: 800;
    color: #ffffff;
    text-align: left;
    padding-left: 30px;
}

.smoothies {
    padding-top: 100px;
}

.smoothies__title {
    text-align: center;
    color: #f7ae3b;
    margin-bottom: 55px;
}

.title {
    font-family: "Muli-ExtraBold";
    font-size: 50px;
    line-height: 40px;
    letter-spacing: -0.02em;
}

.smoothies__text {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 75px;
    
}

.text {
    font-family: "Muli-regular";
    font-size: 18px;
    line-height: 2em;
    color: #1e1e1e;
}

.smoothies__wrap {
    max-width: 1050px;
    margin: 0 auto;
display: flex;
flex-wrap: wrap;
justify-content: center;

}

.smoothies__inner {
    width: 260px;
    height: 180px;
    text-align: center;
}

.smoothies__inner-img {

}

.smoothies__inner-title {
    
    font-size: 25px;
    line-height: 40px;
    color: #f2612d;
}

.about {
    background-color: #16826e;
    display: flex;
    
}

.about__img {
    padding: 60px 0 0 145px;
    margin-right: 140px;
}

.about__inner {
    padding-top: 60px;
}

.about__title {
    font-size: 55px;
    line-height: 1.2em;
    color: #ffffff;
    margin-bottom: 68px;
}

.make-smoothies__subtitle-color {
    color: #cae941;
}

.about__list {
     margin-bottom: 46px;
}

.about__item {
    font-family: "Muli-regular";
    font-size: 21px;
    line-height: 1.9em;
    color: #ffffff;
   

}

.about__item--bold {
    
    
}

.about__btn {
    background-color: transparent;
    width: 380px;
    height: 60px;
    border: 2px solid #f8b231;
    border-radius: 30px;
    font-size: 21px;
    line-height: 22px;
   
}

.products {
    display: flex;
}
/*правильно что ширину и высоту задал?*/
.products__inner {
    text-align: center;
        width: 480px;
        height: 720px;
        
}
.products__inner--chocolate {
    background-color: #632b16;
}
.products__inner--vegan {
    background-color: #1a846e;
}
.products__inner--lemon {
    background-color: #f7b03b;
}
.products__inner--turmeric {
    background-color: #c1451b;

}
.products__img {
    margin-bottom: 34px;
    
}

.products__title {
    font-size: 24px;
    line-height: 22px;
    color: #ffffff;
}

.products__text {
    font-family: "Muli-Italic";
    display: block;
    font-size: 21px;
    line-height: 32px;
    color: #ffffff;
    margin-bottom: 65px;
}

.products__btn {
    font-size: 21px;
    line-height: 22px;
    width: 207px;
    height: 63px;
    border: 2px solid #ffffff;
    background-color: transparent;
}


.story {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 120px 0 160px 0;
    
}

.story__inner {
    
    max-width: 510px;
    
}

.story__title {
    color: #f7ae3b;
    margin-bottom: 40px;
}

.story__text {
    
    margin-bottom: 60px;
}

.story__btn {
    background-color: #0aa566;
    width: 300px;
    height: 60px;
    font-size: 21px;
    line-height: 22px;
}

.story__box {
   
}

.story__img {}

.review {
    background-color: #66301e;
}

.review__title {
    padding-top: 115px;
    color: #f7ae3b;
    text-align: center;
    margin-bottom: 120px;
}

.review__bold {
    color: #f2612d;
}

.review__inner {
    display: flex;
    justify-content: center;
    text-align: center;
   margin-bottom: 240px;
}

.review__blockquote {
    font-family: "Muli-bold";
    color: #ffffff;
    max-width: 455px;
    margin-bottom: 30px;
    line-height: 35px;
 }

.review__color {
    font-family: "Muli-Italic";
    color: #f7ae3b;
 }

.review__img {}

.review__arrows {}

.review__arrow-left {}

.review_arrow-right {}

.blog {
    padding: 100px 0 200px 0;
    background-color: red;
}

.blog__title {
    padding-bottom: 50px;
    color: #f7ae3b;
 
}

.blog__foto {
    display: flex;
    justify-content: center;
    align-items: center;

}

.blog__img {
    margin-right: 60px;
}

.blog__inner {}

.blog__subtitle {
    
    font-family: "Muli-ExtraBold";
    font-size: 30px;
    font-weight: 800;
    color: #f2612d;
}

.blog__time {
    font-family: "Muli-regular";
    font-size: 16px;
    line-height: 35px;
    font-weight: 400;
    color: #1e1e1e;
}

.blog__text {
    margin: 45px 0 0 60px;
    max-width: 470px;
}

.blog__link {
    text-decoration: none;
    font-family: "Muli-Semi-BoldItalic";
    
}

.instagram {
    
    margin-bottom: 10px;
}

.instagram_link {
    font-family: "Muli-ExtraBold";
    font-size: 24px;
        line-height: 40px;
       
}

.instagram__images {
    display: flex;
    padding: 45px 0 0 0;
    
}

.instagram__image {
    padding: 0 5px 0 0;
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: #f4ad3b;
    padding-top: 80px;
    padding-bottom: 85px;
}

.footer__logo {}

.footer__info {}

.footer__title {
    font-size: 26px;
    color: #fff;
    margin-bottom: 40px;
}

.footer__list {
    
}

.footer_item {
    font-family: "Muli-bold";
    margin-bottom: 25px;
    letter-spacing: 0.02em;
}

.footer__pay {
    
}

.footer__images {
    max-width: 270px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
   
}

.footer__image {

    margin: 0 20px 25px 0;
}
 

.footer__form {
    
}

.footer__mail {
    
    
}
form > input:last-child {
    display: none;
    }


.footer_input {
    font-family: "Muli-bold";
    color: #6d450c;
    border-radius: 30px;
    width: 500px;
    height: 60px;
    font-size: 17px;
}


.footor_btn {
    display: inline-block;
    padding: 40px 45px 0 190px;
    font-family: "Muli-ExtraBold";
    text-transform: uppercase;
    color: #6d450c;
    text-decoration: none;
}

.footer__social {
    display: inline-block;

}
.social__item{
    margin-right: 25px;
}


.footer_link {
   
}

.footer__small {
height: 60px;
display: flex;
justify-content: center;
align-items: center;
    background-color: #6f2e1a;

}